@import url(http://fonts.googleapis.com/css?family=Lobster);
@import url(http://fonts.googleapis.com/css?family=Oswald:400,700,300);
body{
	font-family:"Open Sans";
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
font-size: 16px;
}

a{
	text-decoration: none;
}
h1{
	font-size: 16px;
}
.image{
	height: 500px;
	background-image: url(imagenes/fondo.jpg);
	background-size:cover; 
	resize:vertical;
	padding-top: 6em;
}
.relative{
	position: relative;
}
.actions {

bottom: 0;
left: 0;
right: 0;

}
.estracto{
	text-align: center;
margin-bottom: 3em;
padding:0 2em 0 2em;
font-size: 1.3em;
}
.slogan{

	 font-stretch: normal;
width: 100%;

  text-align: center;
}
.slogan_oswald{
	font-size: 16px;
	font-family: "Oswald";
	  color: rgb(201, 94, 40);
	  font-size: 6em;
}
.slogan_lobster{
	color: #237f9b;
	font-size: 16px;
  font-family: "Lobster";
  font-size: 4.5em;
  letter-spacing: -0.043em;

}
.content-background{
	margin-bottom: 2em;
	padding: 2em 0 2em 0;
	position: relative;

}
.background__slogan{
	position: absolute;
  bottom: 0;
  width: 100%;
  padding: 0 22% 0 22%;
  text-align: center;
  font-size: 1em;
}
.logo{
	padding-top: 1.1em;
	padding-bottom: 1em;
}
.content-tools{
	border: 1px solid #5c5b60;
 	border-top: 9px solid #5c5b60;
  	border-radius: 10px 10px 0 0;
  	margin-bottom: 2em;
  	overflow: hidden;
  	padding-bottom: .8em;
	-webkit-box-shadow:2px 4px 7px rgba(0,0,0,.5) ;
	-moz-box-shadow:2px 4px 7px rgba(0,0,0,.5) ;
	-ms-box-shadow:2px 4px 7px rgba(0,0,0,.5) ;
	-o-box-shadow:2px 4px 7px rgba(0,0,0,.5) ;
	box-shadow:2px 4px 7px rgba(0,0,0,.5) ;
}
.tools__title{
	  width: 100%;
	  font-size: 15px;
	  font-weight: 700;
	  text-transform: uppercase;
	  padding-top: 1em;
	  padding-bottom: 1em;
	  padding-left: 1em;
}
.tools__list{
	padding-left: 1.5em;
	list-style: none;
}
.tool_text{
	color: black;
}
.tool_text:hover{
	color: red;
}
.not-padding{
	padding: 0;
}
.margin-bottom{
	margin-bottom: .5em;
}
.tools__list_link{
	text-align: center;
}
.tools__list_icon{
	text-align: center;
}
.tools__list_icono{
	
	width:16px;
	height:16px;
	vertical-align:top;
	}
.tools__list_texto{
	
	width: 255px;							
	min-height:20px;
	
	vertical-align:top;
	margin-bottom:5px;														
}
.tools__list_link--img{																														
	display:inline-block;	
	vertical-align:top;																												
	width:15px;
	height:15px;															
	background-image:url(imagenes/link_icon.jpg);								
}													
.hidden_md_lg_xs{
	display: none;
}
@media (min-width: 768px) and (max-width: 922px){ 
	.actions{
	padding: 0 1em 0 1em;
	}
	.image {	
	padding-top: 5em;
	}
	.slogan_oswald{
		font-size: 5em;
	}
}
@media (max-width: 768px) { 
	.slogan_oswald{
		font-size: 3.5em;
	}
	.slogan_lobster{
		font-size:3em;
	}
	.image{
		height: 300px;
		padding-top:3em; 
	}
	.estracto {
		text-align: center;
		margin-bottom: 1.6em;
		padding:0 1em 1em 1em;
		font-size: 1.3em;
	}
}


@media (max-width: 480px) { 
	.slogan_oswald{
		font-size: 2.5em;
		
	}
	.slogan_lobster{
		font-size:2em;
	}
	.image{
		height: 300px;
		padding-top:2.2em; 
	}
	.estracto {
		text-align: center;
		margin-bottom: 1.6em;
		padding: 0 1em 1em 1em;
		font-size: 1em;
	}
	.actions{
	padding: 0 1em 0 1em;
	}
}
@media (min-width: 480px) and (max-width: 500px) { 
	.slogan_oswald{
		font-size: 2.5em;
		
	}
	.slogan_lobster{
		font-size:2em;
	}
	.image{
		height: 300px;
		padding-top:3em; 
	}
	.estracto {
		text-align: center;
		margin-bottom: 1.6em;
		padding: 0 1em 1em 1em;
		font-size: 1em;
	}
	.actions{
	padding: 0 1em 0 1em;
	}
}
/* Tablets en horizonal y escritorios normales
   ------------------------------------------------------------------------- */
@media (min-width: 1024px) { 
}
 
/* Escritorios muy anchos
   ------------------------------------------------------------------------- */
@media (min-width: 1200px) { 

}
.footer__content--tittle{
	border-bottom:1px #cfd1d3 solid;
	border-top:1px #cfd1d3 solid;
	font-size:1.1em;
	padding-bottom: .5em;
	padding-top: .5em;
  	margin-bottom: 1em;
}
.footer__content--list{
	list-style: none;
  	margin: 0;
  	padding: 0;
}
.footer__content--list li a{
	font-size: 0.9em;
	text-decoration: none;
	color: #000000;
}
.footer__content--list li a:hover{
	color: red;
}
.footer__content--list li{

	margin-bottom: .3em;
}
.list_icon_social li{
	display: inline-block;
}
.list_icon_social li:nth-child(2){
	margin: 0 .5em 0 .5em;
}
.footer__copyright{
	text-align: center;
	text-align: center;
	width: 100%;
	border-top:1px #cfd1d3 solid;
	margin:.5em 0 0 0;
	padding-top: 1em;
	padding-bottom: 2em;
}
.footer--logo{
	margin-bottom: .5em;
}
.copyright--text{
	font-size: 0.9em
}

#fondoContenedor{
	width:100%;
	height:100%;
	margin-left:auto;
	margin-right:auto;	
}
#contenedor{
	width:100%;
	height:100%;
	margin:0 auto;	
}
	#contenedorSup{
		width:100%;
		height:50px;
		margin:0 auto;
		padding:25px 0px 10px 0px;
		background-color:#FFF;		
	}
		#contenidoSup{
			width:1200px;
			height:35px;
			margin:0 auto;
			/*padding:0px 10px 0px 10px;*/					
		}
			#contenedorLogotipo{
				width:380px;
				height:35px;
				margin:0px 10px 0px 10px;					
			}
			
/***********************************************  buscador  ****************************************************/
			contenedorBuscador #buscador #caja{
				display:block;
			}

			#contenedorBuscador #buscador #caja input{
				float:left;
			}
			#contenedorBuscador #buscador #caja input[type=text]{
				border:none;
				height:35px;
				width:310px;
				background-color:#f2f2f2;
			}
			#contenedorBuscador #buscador #caja input[value=Buscar]{
				color:#CCC;
				font-style:italic;
				font-size:15px;
				padding:0px 10px 0px 10px;
			}
			#contenedorBuscador #buscador #caja input[type=submit]{
				border:none;
				height:35px;
				width:50px;
				background-image:url(imagenes/lupa.png);	
				cursor:pointer;
				background-color:#5a5a5a;
			}
			#contenedorBuscador #buscador #caja input[type=submit]:hover{
				background-color:#6e6e6e;
			}
/***********************************************  buscador  ****************************************************/
			#linkSup{
				float:right;
				margin:8px 15px 0px 12px;			
			}
			#linkSup a{
				text-decoration:none;
				color:#000;
			}			
			#linkSup a.visited{
				text-decoration:none;
				color:#000;
			}		
	#contenedorEncabezado{
		width:100%;
		height:172px;
		padding:20px 0px 0px 0px;
		background-color:#FFF;
		margin:0 auto;
		border-top:1px #cfd1d3 solid;
	}
		#contenidoEncabezado{
			width:1200px;
			height:172px;
			padding:0px 0px 0px 0px;
			margin:0 auto;		
		}
			.colEsp{
				width:800px;
				height:100%;
				float:left;
				display:block;					
			}
			div.autor{	
				float:left;					
			}
			img.autor{
				width:100px;
				height:100px;
				margin:15px 0px 0px 0px;
				padding:0px 0px 0px 10px;		
			}
			span.autor{
				font-size:22px;
				width:380px;
				height:44px;
				padding:0px 10px 0px 10px;
				color:#323232;		
			}			
			div.autor+div.autor{			
				width:280px;
				height:72px;
				padding:15px 0px 0px 10px;
				color:#5a5a5a;
				line-height:22px	
			}
			#socialSup{
				width:290px;
				height:27px;
			}			
			#tituloEncabezado{
	width: 520px;
	padding-top: 0px;
	padding-right: 10px;
	padding-bottom: 0px;
	padding-left: 10px;
			}
				#tituloEncabezado span{
					font-size:34px;
					color:#323232;			
				}
			#descripcionEncabezado{
				width:780px;
				margin:15px 0px 0px 0px;
				padding:0px 10px 0px 10px;
			}
				#descripcionEncabezado span{					
					color:#5a5a5a;
					line-height:22px;
				}
			#estadisticas{
				width:316px;
				height:110px;
				margin:0 auto;
				margin-top:20px;			
				padding:0px 0px 0px 14px;
			}
				#items{
					width:80px;
					height:110px;
					margin:0px 10px 0px 10px;					
					float:left;
					text-align:center;
					font-size:24px;
				}				
					#items img{
						margin-top:15px;										
					}
			div.autor ul#social li{
				text-decoration:none;
				margin:0px 0px 10px 0px;
				font-size:14px;
				float:left;
				margin:8px 8px 0px 0px;
			}
			div.autor ul{
				text-decoration:none;
				list-style:none;
				padding:0px;
				margin:0px;
			}				
	#contenedorShare{
		width:1160px;
		height:70px;
		padding:0px 20px 0px 20px;
	}
	#contenedorContenido{
		width:1200px;
		height:100%;
		padding:0px 10px 0px 10px;
		margin:20px auto;
	}	
		.col{
			width:400px;
			height:100%;
			float:left;
			display:block;					
		}
			.cajaFlotante{
				width:378px;
				height:100%;
				margin:0px 10px 20px 10px;
				border-width:1px;
				border-color:#000;
				background-color:#FFF;		
			}
				.cajaFlotanteTitulo{
					color:#FFF;
					width:350px;
					height:21px;
					padding:12px 14px 9px 14px;
					background-color:#323232;
				}
				.cajaFlotante ol{					
					width:338px;
					height:100%;
					padding:0px 0px 0px 40px;
					margin:20px 0px 12px 0px;					
				}
					.cajaFlotante ol li{																
						width:338px;
						height:auto;
						margin-bottom:5px;						
						position:relative;																				
					}
						.cajaFlotante ol li a{							
							position:relative;																					
							text-decoration:none;
							color:#323232;							
							width:298px;																				
							height:27px;
							padding:3px 0px 3px 0px;
							margin:0px 0px 0px 0px;							
						}
						.cajaFlotante ol li a:hover{							
							color:#FF502E;												
						}
							.icono{		
								display:inline-block;							
								width:16px;
								height:16px;
								vertical-align:top;
							}
							.texto{								
								display:inline-block;				
								width:234px;								
								min-height:20px;
								padding:0px 21px 0px 21px;
								vertical-align:top;
								margin-bottom:5px;														
							}
							.link{																														
								display:inline-block;	
								vertical-align:top;																												
								width:15px;
								height:15px;															
								background-image:url(imagenes/link_icon.jpg);								
							}																					
	#contenedorPie{
		width:100%;
		height:325px;	
		background-color:#FFF;
		clear:both;
		display:block;							
	}
		#contenidoPie{
			width:1200px;										
			clear:both;
			display:block;
			margin:0 auto;
			padding:10px 0px 0px 0px;			
		}		
			#seccionesPie{
				display:block;
				float:left;				
				width:380px;
				padding:10px;
				height:100%;
				padding:0px 10px 0px 10px;
				margin:0px 0px 15px 0px;
			}
				.tituloPie{
					width:360px;
					display:block;					
					padding:10px;
					height:100%;					
					font-size:18px;
					margin:10px 0px 20px 0px;
					padding:0px 10px 10px 0px;					
					border-bottom:1px #cfd1d3 solid;
				}
				#seccionesPie ul{
					text-decoration:none;
					list-style:none;
					padding:0px;
					margin:0px;					
				}
					#seccionesPie ul li{
						text-decoration:none;
						margin:0px 0px 10px 0px;
						font-size:14px;
						color:#323232;
					}
					#seccionesPie ul li a{
						color:#323232;
						text-decoration:none;					
					}
					#seccionesPie ul li a.visited{
						color:#323232;					
					}
					#seccionesPie ul li a:hover{
						color:#ff502e;					
					}					
					#seccionesPie ul#social li{
						text-decoration:none;
						margin:0px 0px 10px 0px;
						font-size:14px;
						float:left;
						margin:0px 8px 0px 0px;
					}					
			#copyright{
				width:100%;
				height:107px;				
				clear:both;
				text-align:center;
			}
				#copyright #copyrightImg{					
					border-top:1px #cfd1d3 solid;
					padding:20px 0px 0px 0px;										
				}
					#copyright img{										
						margin:0 auto;										
					}
					#copyright span{	
						display:block;				
						margin-left:auto;
						margin-right:auto;
						margin-top:10px;
						margin-bottom:0px;
						font-size:14px;
						color:#333333;
					}